@import 'styles/variables';

.imageContainer {
  background-color: $green25;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing-md;
  overflow: hidden;

  .profilePhoto {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  div {
    font-size: 2em;
    font-weight: 600;
    color: $dark-green;
    text-transform: uppercase;
  }
}
