@import 'styles/variables';

.playerRow {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xsm;

  p {
    margin: 0;
    margin-left: $spacing-xsm;
  }
}

.profileIcon {
  height: $spacing-md;
  width: $spacing-md;
}
