@import 'styles/variables';

.playerRow {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xsm;
  width: 100%;
  justify-content: space-between;

  p {
    margin: 0;
  }
}

.profileIcon {
  height: $spacing-md;
  width: $spacing-md;
}

.playerListingWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playerProfileWrapper {
  display: flex;
  align-items: center;
}

.playerPaidIcon {
  width: 24px;
  color: $dark-green;
  margin-right: $spacing-xsm;
}

.playerNotPaidIcon {
  width: 24px;
  color: $red;
  margin-right: $spacing-xsm;
}

.actionButtons {
  display: flex;
  align-items: center;

  div {
    margin-right: 6px;
  }
}

input[checked] {
  ~ .playerStatus {
    color: $dark-green;
  }
}

.playerStatus {
  font-weight: 500;
  color: $green50;
}

// .coreButton {
//   background-color: $green25;
//   color: $dark-green;
//   padding: 6px 12px;
//   font-weight: 500;
// }

// .reserveButton {
//   background-color: $dark-green;
//   color: $chalk;
//   padding: 6px 12px;
//   font-weight: 500;
// }
