@import 'styles/variables';

.playerRow {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xsm;

  p {
    margin: 0;
    margin-left: $spacing-xsm;
  }
}

.profileIcon {
  height: $spacing-md;
  width: $spacing-md;
}

.coreButton {
  background-color: $green25;
  color: $dark-green;
  padding: 6px 12px;
  font-weight: 500;
}

.reserveButton {
  background-color: $dark-green;
  color: $chalk;
  padding: 6px 12px;
  font-weight: 500;
}
