@import 'styles/variables';

.main {
  padding: $spacing-sm;
  padding-top: $spacing-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow-y: auto;
}

.header {
  color: $dark-green;
  align-self: stretch;
}

.logo {
  font-size: 36px;
  font-weight: 800;
}

.navLinks {
  color: $dark-green;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding-right: $spacing-sm;

  a {
    filter: brightness(100%);
    transition: filter 0.5s;
    font-weight: 400;
    font-size: 14px;
    padding: 0 $spacing-xsm;

    &:hover {
      filter: brightness(75%);
    }
  }

  button {
    font-size: 14px;
    color: $dark-green;
  }
}

.navBar {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0 20px;
  padding-top: $spacing-md;
  width: 240px;
  position: absolute;
  top: 56px;

  div {
    display: flex;
  }

  svg {
    color: $dark-green;
    width: $font-lg;
    margin-right: $spacing-sm;
  }

  a {
    color: $dark-green;
    font-weight: 700;
    font-size: $font-md;
    margin: $spacing-xsm 0;
  }
}
