@import "styles/variables";
.wrapper {
  width: 100%;
  margin-top: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.form {
  label {
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 6px;
  }

  input {
    margin-bottom: 18px;
  }

  p {
    margin-top: -18px;
    font-size: 10px;
    font-weight: 400;
    color: $red;
  }

  a {
    color: $green75;
    transition: filter 0.5s;
    &:hover {
      filter: brightness(75%);
    }
    &.active {
      display: block;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  input {
    padding: 9px;
    margin-left: 0;
    margin-right: 12px;
    margin-bottom: 0;
  }

  &:checked {
    background-color: $dark-green;
    color: white;
  }
}

.submit:disabled {
    background-color: $grey;
}

.error {
  display: flex;
  justify-content: center;
  margin: 18px;
  font-family: 'proxima-nova';
  color: $red;
}

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;

  h2 {
    margin-bottom: 24px;
  }
}


.buttonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  max-width: 400px;
  width: 80%;
  margin: 0 auto;

  h2 {
      color: $green50;
  }

  h2,
  a {
    padding-bottom: 9px 0;
  }
}

.closeButton {
  transition: filter 0.5s;
  cursor: pointer;

  &:hover {
    filter: brightness(75%);
  }
}

.authButton {
  transition: color 0.5s;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  color: $green50;

  &:hover {
    color: $dark-green;
  }
}

.authButtonActive {
  @extend .authButton;
  border-bottom: solid $dark-green 3px;
  color: $black;
}
