@import 'styles/variables';

.fileInput {
  color: transparent;
  background-color: $dark-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 180px;

  &::file-selector-button {
    visibility: hidden;
  }

  &::before {
    content: 'CHANGE PHOTO';
    background-color: #557c50;
    border: 0;
    color: #f4f4f4;
    font-weight: 400;
    font-family: 'proxima-nova', sans-serif;
    font-size: 12px;
    cursor: pointer;
    transition: filter 0.5s;
    text-align: center;
    padding-top: 3px;
  }

  &:hover::before,
  &:active::before {
    filter: brightness(75%);
  }
}

.imageContainer {
  background-color: $green25;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $spacing-md;
  overflow: hidden;

  .profilePhoto {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  p {
    font-size: 120px;
    font-weight: 600;
    color: $dark-green;
    text-transform: uppercase;
  }
}

// .profileCard {
//   background-color: white;
//   padding: 12px;
//   // box-shadow: 0px 6px 9px 4px rgb(0 0 0 / 12%);
//   border-radius: 0 0 9px 9px;
//   z-index: 1;
// }
