@import 'styles/variables';

.listingWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $spacing-md;
  // max-width: 360px;
}

.matchListingTitle {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-sm;

  svg {
    transition: transform 0.5s;
  }

  &:hover svg {
    transform: translate(18px);
  }

  h3 {
    margin: 0;
  }
}

.matchDataWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
}

.matchData {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xsm;
  overflow-wrap: break-word;

  p {
    font-size: $font-sm;
    color: $black;
    font-weight: 500;
    margin: 0;
  }
}

.iconContainer {
  width: 18px;
  display: flex;
  align-items: center;
  margin-right: 6px;
}

.matchDataContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.matchCardHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: $spacing-sm;

  h3 {
    margin: 0;
  }

  p {
    color: $black;
    font-style: italic;
    font-weight: 400;
    margin: 0;
  }
}

.matchDataRow {
  display: flex;
  align-items: center;

  p,
  a {
    margin: 6px 0;
  }

  a {
    font-size: 14px;
  }
}

.matchDetailHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerStatusWrapper {
  display: flex;

  & p {
    font-weight: 500;
    padding: $spacing-sm;
  }

  & button {
    &:disabled {
      background-color: $grey;
    }
    svg {
      margin-right: 0;

      &.deleteBtn {
        color: $red;
      }
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .playerStatusWrapper {
    & p {
      padding: $spacing-md;
    }
  }
}

.playerStatusButton {
  height: $spacing-lg;
  width: $spacing-lg;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  border: solid $chalk 1px;

  &.outBtn {
    background-color: $red;
  }

  &.waitlistBtn {
    background-color: $yellow;
  }
}
