@import 'styles/variables';

.listingWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
}

.waitlistText {
  color: $black;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 $spacing-xsm 0;
}

.matchDataWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
}

.matchData {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xsm;
  overflow-wrap: break-word;

  p {
    font-size: $font-sm;
    color: $black;
    font-weight: 500;
    margin: 0;
  }
}

.iconContainer {
  width: 18px;
  display: flex;
  align-items: center;
  margin-right: 6px;
}
