@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 400;
  background-color: #f4f4f4;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &.active {
    display: block;
  }
}


* {
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}

.mobile-hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  z-index: 1;
  height: 54px;
}

header p {
  font-weight: 800;
  font-size: 36px;
}


footer {
  height: 120px;
  background-color: #557c50;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  border: none;
  background-color: $light-green;
  font-size: 14px;
  color: $dark-green;
  font-weight: 500;
  padding: 12px 6px;
}

@media screen and (min-width: 600px) {
  footer {
      display: none;
  }

  .mobile-hidden {
    display: block;
  }

} 

/* Typography */

h1 {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 48px;
}

h2 {
  font-weight: 500;
  font-size: 18px;
}

h4 {
  font-size: 14px;
  font-weight: 300;
}

p {
  font-size: 12px;
  font-weight: 300;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h4 {
    font-size: 14px;
  }
  
  p {
    font-size: 14px;
  }
  
} 

// Colours



.light-text {
  color: #f4f4f4;
}

.dark-test {
  color: #2e2e2e;
}

.extrabold-text {
 font-weight: 800;
}

.bold-text {
  font-weight: 600;
}



/* Buttons */

button {
  background-color: #557c50;
  padding: 18px 90px;
  border: 0;
  color: #f4f4f4;
  font-weight: 400;
  font-family: 'proxima-nova', sans-serif;
  font-size: 12px;
  cursor: pointer;
  transition: filter 0.5s;
}

button.full-width {
  width: 100%;
}

button:hover {
  filter: brightness(75%);
}


// Navigation
nav.top-nav {
  display: none;
}

.bottom-nav {
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 14px;
}

.bottom-nav:hover {
  background-color: #43603F;
  transition: background-color 0.5s;
}


@media only screen and (min-width: 600px) {
  nav.top-nav {
    display: block;
  }

  .bottom-nav {
    display: none;
  }
}


// Forms


form {

  display: flex;
  flex-direction: column;
  margin-top: 30px;
  max-width: 540px;
  width: 100%;

  label {
    font-family: "proxima-nova", sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 6px;
  }

  input {
    margin-bottom: 18px;
  }

  p {
    margin-top: -18px;
    font-size: 10px;
    font-weight: 400;
    color: $red;
  }

  a {
    color: $green75;
    transition: filter 0.5s;
    &:hover {
      filter: brightness(75%);
    }
    &.active {
      display: block;
    }
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 18px;

  input {
    padding: 9px;
    margin-left: 0;
    margin-right: 12px;
    margin-bottom: 0;
  }

  &:checked {
    background-color: $dark-green;
    color: white;
  }
}