// Colours
$dark-green: #557c50;
$chalk: #f4f4f4;
$black: #2e2e2e;
$red: #e65237;
$yellow: #c7ab34;
$faded-yellow: #e9e2c4;
$grey: #a8a8a8;
$light-green: #e3e8e3;
$green25: #d4ded3;
$green50: #a9bda7;
$green75: #7f9d7c;

// Screen Size
$screen-sm: 600px;

// Spacing
$spacing-xsm: 12px;
$spacing-sm: 18px;
$spacing-md: 30px;
$spacing-lg: 48px;
$spacing-xlg: 60px;
